{% extends 'doctor_base.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>

<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Danh sách cuộc hẹn</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Tên bệnh nhân</th>
          <th>Ảnh</th>
          <th>Triệu chứng</th>
          <th>Liên hệ</th>
          <th>Giờ</th>
          <th>Ngày</th>
        </tr>
      </thead>
      {% for a, p in appointments %}
        <tr>
            <td>{{ a.patientId.get_name }}</td>
            <td><img src="{{ a.patientId.profile_pic.url }}" height="40px" width="40px alt="></td>
            <td>{{ a.description }}</td>
            <td>{{a.patientId.mobile}}</td>
            <td>{{ a.get_time }}</td>
            <td>{{a.get_date}}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">Không có cuộc hẹn nào.</td>
        </tr>
        {% endfor %}
    
    </table>
  </div>
</div>


{% endblock content %}
